<header class="site-header" role="banner">
  <div class="wrapper">
    <a class="site-title" href="https://www.netanel.dev/blog">Netanel Haber - Blog</a>
    <nav class="site-nav">
      <div class="trigger">
        <a class="page-link" href="https://github.com/netanel-haber/chatgpt-custom-instructions/edit/main/README.md" target="_blank">
          <img src="https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png" alt="GitHub"
            style="height: 20px;">
        </a>
      </div>
    </nav>
  </div>
</header>
<style>
  .copy-button {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: transparent;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    color: white;
  }

  .copy-button:hover {
    background-color: #e0e0e0;
  }

  div.highlight {
    position: relative;
  }
</style>
<script>
  document.addEventListener('DOMContentLoaded', function () {
    const codeBlocks = document.querySelectorAll('pre code');
    codeBlocks.forEach(function (codeBlock) {
      const button = document.createElement('button');
      button.className = 'copy-button';
      button.textContent = '📋';
      button.addEventListener('click', function () {
        navigator.clipboard.writeText(codeBlock.textContent).then(function () {
          button.textContent = '✅';
          setTimeout(function () {
            button.textContent = '📋';
          }, 2000);
        });
      });
      const pre = codeBlock.parentNode;
      pre.parentNode.appendChild(button);
    });
  });
</script>
