<header class="site-header" role="banner">
    <div class="wrapper">
      <a class="site-title" href="{{ "/" | relative_url }}">{{ site.title | escape }}</a>
      <nav class="site-nav">
        <div class="trigger">
          <a class="page-link" href="https://github.com/netanel-haber/chatgpt-custom-instructions" target="_blank">
            <img src="https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png" alt="GitHub" style="height: 20px;">
          </a>
        </div>
      </nav>
    </div>
  </header>  