---
layout: default
---
{% assign h4_array = content | split: '<h4>' %}
{% for item in h4_array %}
  {% if forloop.index > 1 %}
    {% assign h4_parts = item | split: '</h4>' %}
    {% assign h4_content = h4_parts[0] %}
    {% assign anchor_id = h4_content | strip_html | normalize_whitespace | downcase | replace: ' ', '-' %}
    {% assign modified_h4 = '<h4 id="' | append: anchor_id | append: '"><a href="#' | append: anchor_id | append: '" class="hash-link">#</a>' | append: h4_content | append: '</h4>' %}
    {% assign content_with_ids = content_with_ids | replace: '<h4>' | append: h4_content | append: '</h4>', modified_h4 %}
  {% else %}
    {% assign content_with_ids = item %}
  {% endif %}
{% endfor %}
{{ content_with_ids }}
